In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [2]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [3]:
#average reading score
avg_reading_score = school_data_complete["reading_score"].mean()

#Average math score
avg_math_score = school_data_complete["math_score"].mean()

#total number of students
total_students = school_data_complete["Student ID"].count()

#total schools
#schools_students = school_data_complete["school_name"].value_counts()
#total_schools = schools_students.count()

#school count
total_schools = len(school_data_complete["school_name"].unique())

#total budget
budget = school_data_complete["budget"].unique()
total_budget = budget.sum()

#overall pass rate
pass_rate = (avg_math_score + avg_reading_score)/2

#% pass math and reading
school_data_complete["pass_math"] = school_data_complete["math_score"] >= 70
school_data_complete["pass_reading"] = school_data_complete["reading_score"] >= 70

pass_math_count = school_data_complete["pass_math"].value_counts()
per_pass_math = (pass_math_count[True]/len(school_data_complete))*100


pass_reading_count = school_data_complete["pass_reading"].value_counts()
per_pass_reading = (pass_reading_count[True]/len(school_data_complete))*100

In [4]:
#create new district summary data frame and reformat
district_summary = pd.DataFrame({"Total Schools": [total_schools],
                           "Total Students": [total_students],
                           "Total Budget": [total_budget],
                           "Average Math Score": [avg_math_score],
                           "Average Reading Score": [avg_reading_score],
                           "% Passing Math": [per_pass_math],
                                "% Passing Reading": [per_pass_reading],
                                "% Overall Passing Rate": [pass_rate]},)

district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
district_summary["Average Math Score"] = district_summary["Average Math Score"].map("{:.2f}%".format)
district_summary["Average Reading Score"] = district_summary["Average Reading Score"].map("{:.2f}%".format)
district_summary["% Passing Math"] = district_summary["% Passing Math"].map("{:.2f}%".format)
district_summary["% Passing Reading"] = district_summary["% Passing Reading"].map("{:.2f}%".format)
district_summary["% Overall Passing Rate"] = district_summary["% Overall Passing Rate"].map("{:.2f}%".format)
district_summary.head()

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,"39,170","$24,649,428.00",78.99%,81.88%,74.98%,85.81%,80.43%

In [17]:
school_summary = school_data_complete.groupby("school_name")

per_school_counts = school_data_complete["school_name"].value_counts()
per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
per_school_capita = (per_school_budget / per_school_counts)

avg_math_score = school_summary["math_score"].mean()
avg_reading_score = school_summary["reading_score"].mean()
school_type = school_summary["type"].unique()
total_students = school_summary["size"].unique()
school_budget = school_summary["budget"].unique()
student_budget = school_budget/total_students

math_pass_students = school_data_complete[(school_data_complete["math_score"] >= 70)]
math_pass_percent = (math_pass_students["school_name"].value_counts()/ per_school_counts)*100

reading_pass_students = school_data_complete[(school_data_complete["reading_score"] >= 70)]
reading_pass_percent = (reading_pass_students["school_name"].value_counts()/ per_school_counts)*100

overall_pass_rate = (math_pass_percent + reading_pass_percent)/2

In [18]:
#math_pass_students = school_data_complete[(school_data_complete["math_score"] >= 70)]
#math_pass_students["school_name"].value_counts()/ per_school_counts

In [19]:
school_summary_dataframe = pd.DataFrame({"School Type": school_type,
                                "Total Students": total_students,
                                 "School Budget": school_budget,
                                 "Per Student Budget": student_budget,
                                 "Average Math Score": avg_math_score,
                                 "Average Reading Score": avg_reading_score,
                                 "% Passing Math": math_pass_percent,
                                 "% Passing Reading": reading_pass_percent,
                                 "% Overall Passing Rate": overall_pass_rate})

school_summary_dataframe["School Type"] = school_summary_dataframe["School Type"].map(lambda x: str(x)[2:-2])
school_summary_dataframe["Total Students"] = school_summary_dataframe["Total Students"].map(lambda x: str(x)[1:-1])
school_summary_dataframe["School Budget"] = school_summary_dataframe["School Budget"].map(lambda x: str(x)[1:-1])
#school_summary_dataframe["School Budget"] = school_summary_dataframe["School Budget"].map("${:,.2f}".format(float(u"5.0")))
school_summary_dataframe["Per Student Budget"] = school_summary_dataframe["Per Student Budget"].map(lambda x: str(x)[1:-2])
school_summary_dataframe["% Passing Math"] = school_summary_dataframe["% Passing Math"].map("{:.2f}%".format)
school_summary_dataframe["% Passing Reading"] = school_summary_dataframe["% Passing Reading"].map("{:.2f}%".format)
school_summary_dataframe["% Overall Passing Rate"] = school_summary_dataframe["% Overall Passing Rate"].map("{:.2f}%".format)
school_summary_dataframe

,School Type,Total Students,School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
school_name,,,,,,,,,
Bailey High School,District,4976,3124928,628,77.048432,81.033963,66.68%,81.93%,74.31%
Cabrera High School,Charter,1858,1081356,582,83.061895,83.975780,94.13%,97.04%,95.59%
Figueroa High School,District,2949,1884411,639,76.711767,81.158020,65.99%,80.74%,73.36%
Ford High School,District,2739,1763916,644,77.102592,80.746258,68.31%,79.30%,73.80%
Griffin High School,Charter,1468,917500,625,83.351499,83.816757,93.39%,97.14%,95.27%
Hernandez High School,District,4635,3022020,652,77.289752,80.934412,66.75%,80.86%,73.81%
Holden High School,Charter,427,248087,581,83.803279,83.814988,92.51%,96.25%,94.38%
Huang High School,District,2917,1910635,655,76.629414,81.182722,65.68%,81.32%,73.50%
Johnson High School,District,4761,3094650,650,77.072464,80.966394,66.06%,81.22%,73.64%
Pena High School,Charter,962,585858,609,83.839917,84.044699,94.59%,95.95%,95.27%
Rodriguez High School,District,3999,2547363,637,76.842711,80.744686,66.37%,80.22%,73.29%
Shelton High School,Charter,1761,1056600,600,83.359455,83.725724,93.87%,95.85%,94.86%
Thomas High School,Charter,1635,1043130,638,83.418349,83.848930,93.27%,97.31%,95.29%
Wilson High School,Charter,2283,1319574,578,83.274201,83.989488,93.87%,96.54%,95.20%
Wright High School,Charter,1800,1049400,583,83.682222,83.955000,93.33%,96.61%,94.97%

In [22]:
school_summary_dataframe = school_summary_dataframe.sort_values(by=["% Overall Passing Rate"], ascending=False)
school_summary_dataframe.head()

,School Type,Total Students,School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
school_name,,,,,,,,,
Cabrera High School,Charter,1858,1081356,582,83.061895,83.975780,94.13%,97.04%,95.59%
Thomas High School,Charter,1635,1043130,638,83.418349,83.848930,93.27%,97.31%,95.29%
Griffin High School,Charter,1468,917500,625,83.351499,83.816757,93.39%,97.14%,95.27%
Pena High School,Charter,962,585858,609,83.839917,84.044699,94.59%,95.95%,95.27%
Wilson High School,Charter,2283,1319574,578,83.274201,83.989488,93.87%,96.54%,95.20%

In [23]:
school_summary_dataframe = school_summary_dataframe.sort_values(by=["% Overall Passing Rate"], ascending=True)
school_summary_dataframe.head()

,School Type,Total Students,School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
school_name,,,,,,,,,
Rodriguez High School,District,3999,2547363,637,76.842711,80.744686,66.37%,80.22%,73.29%
Figueroa High School,District,2949,1884411,639,76.711767,81.158020,65.99%,80.74%,73.36%
Huang High School,District,2917,1910635,655,76.629414,81.182722,65.68%,81.32%,73.50%
Johnson High School,District,4761,3094650,650,77.072464,80.966394,66.06%,81.22%,73.64%
Ford High School,District,2739,1763916,644,77.102592,80.746258,68.31%,79.30%,73.80%

In [26]:
math_scores_sort = school_data_complete.groupby(["school_name", "grade"])
math_scores_sort.mean()

                               Student ID  reading_score  math_score  \
school_name           grade
Bailey High School    10th   20365.058918      80.907183   76.996772
                      11th   20345.148681      80.945643   77.515588
                      12th   20386.724708      80.912451   76.492218
                      9th    20344.481481      81.303155   77.083676
Cabrera High School   10th   16909.487124      84.253219   83.154506
                      11th   16955.047718      83.788382   82.765560
                      12th   16924.570681      84.287958   83.277487
                      9th    16969.634470      83.676136   83.094697
Figueroa High School  10th    4332.703801      81.408912   76.539974
                      11th    4424.478138      80.640339   76.884344
                      12th    4414.922705      81.384863   77.151369
                      9th     4397.878505      81.198598   76.403037
Ford High School      10th   36122.879944      81.262712   77.672316
                      11th   36212.534143      80.403642   76.918058
                      12th   36153.562152      80.662338   76.179963
                      9th    36170.595438      80.632653   77.361345
Griffin High School   10th   12983.711823      83.706897   84.229064
                      11th   12983.038781      84.288089   83.842105
                      12th   12977.143836      84.013699   83.356164
                      9th    13031.305623      83.369193   82.044010
Hernandez High School 10th    9930.783211      80.660147   77.337408
                      11th    9948.641544      81.396140   77.136029
                      12th    9978.563966      80.857143   77.186567
                      9th     9928.620839      80.866860   77.438495
Holden High School    10th   23076.342105      83.324561   83.429825
                      11th   23046.883495      83.815534   85.000000
                      12th   23041.108434      84.698795   82.855422
                      9th    23068.314961      83.677165   83.787402
Huang High School     10th    1450.796610      81.512386   75.908735
                      11th    1458.094313      81.417476   76.446602
                      12th    1485.035897      80.305983   77.225641
                      9th     1445.726303      81.290284   77.027251
Johnson High School   10th   32467.993480      80.773431   76.691117
                      11th   32378.549249      80.616027   77.491653
                      12th   32414.657051      81.227564   76.863248
                      9th    32399.975714      81.260714   77.187857
Pena High School      10th   23769.208000      83.612000   83.372000
                      11th   23742.605469      84.335938   84.328125
                      12th   23733.342541      84.591160   84.121547
                      9th    23766.127273      83.807273   83.625455
Rodriguez High School 10th   28050.171154      80.629808   76.612500
                      11th   28048.515905      80.864811   76.395626
                      12th   28023.722433      80.376426   77.690748
                      9th    28017.408076      80.993127   76.859966
Shelton High School   10th    6748.301339      83.441964   82.917411
                      11th    6742.453883      84.373786   83.383495
                      12th    6740.566038      82.781671   83.778976
                      9th     6750.615094      84.122642   83.420755
Thomas High School    10th   38346.368171      84.254157   83.087886
                      11th   38345.636145      83.585542   83.498795
                      12th   38360.289941      83.831361   83.497041
                      9th    38356.793926      83.728850   83.590022
Wilson High School    10th   14884.930693      84.021452   83.724422
                      11th   14855.539232      83.764608   83.195326
                      12th   14860.597315      84.317673   83.035794
                      9th    14879.667195      83.939778   83.085578
Wright High School    10th   25122.296296      83.812757   84.010288
                      11th   25147.331034      84.156322   83.836782
                      12th   25115.626016      84.073171   83.644986
                      9th    25152.370588      83.833333   83.264706

                             School ID    size     budget  pass_math  \
school_name           grade
Bailey High School    10th         7.0  4976.0  3124928.0   0.663438
                      11th         7.0  4976.0  3124928.0   0.684253
                      12th         7.0  4976.0  3124928.0   0.642996
                      9th          7.0  4976.0  3124928.0   0.671468
Cabrera High School   10th         6.0  1858.0  1081356.0   0.939914
                      11th         6.0  1858.0  1081356.0   0.923237
                      12th         6.0  1858.0  1081356.0   0.950262
                      9th          6.0  1858.0  1081356.0   0.952652
Figueroa High School  10th         1.0  2949.0  1884411.0   0.665793
                      11th         1.0  2949.0  1884411.0   0.653032
                      12th         1.0  2949.0  1884411.0   0.685990
                      9th          1.0  2949.0  1884411.0   0.641355
Ford High School      10th        13.0  2739.0  1763916.0   0.693503
                      11th        13.0  2739.0  1763916.0   0.687405
                      12th        13.0  2739.0  1763916.0   0.654917
                      9th         13.0  2739.0  1763916.0   0.689076
Griffin High School   10th         4.0  1468.0   917500.0   0.940887
                      11th         4.0  1468.0   917500.0   0.941828
                      12th         4.0  1468.0   917500.0   0.928082
                      9th          4.0  1468.0   917500.0   0.924205
Hernandez High School 10th         3.0  4635.0  3022020.0   0.667482
                      11th         3.0  4635.0  3022020.0   0.668199
                      12th         3.0  4635.0  3022020.0   0.667377
                      9th          3.0  4635.0  3022020.0   0.667149
Holden High School    10th         8.0   427.0   248087.0   0.929825
                      11th         8.0   427.0   248087.0   0.912621
                      12th         8.0   427.0   248087.0   0.951807
                      9th          8.0   427.0   248087.0   0.913386
Huang High School     10th         0.0  2917.0  1910635.0   0.634941
                      11th         0.0  2917.0  1910635.0   0.647712
                      12th         0.0  2917.0  1910635.0   0.661538
                      9th          0.0  2917.0  1910635.0   0.681280
Johnson High School   10th        12.0  4761.0  3094650.0   0.651182
                      11th        12.0  4761.0  3094650.0   0.669449
                      12th        12.0  4761.0  3094650.0   0.650641
                      9th         12.0  4761.0  3094650.0   0.667857
Pena High School      10th         9.0   962.0   585858.0   0.944000
                      11th         9.0   962.0   585858.0   0.960938
                      12th         9.0   962.0   585858.0   0.950276
                      9th          9.0   962.0   585858.0   0.930909
Rodriguez High School 10th        11.0  3999.0  2547363.0   0.658654
                      11th        11.0  3999.0  2547363.0   0.654076
                      12th        11.0  3999.0  2547363.0   0.681876
                      9th         11.0  3999.0  2547363.0   0.664089
Shelton High School   10th         2.0  1761.0  1056600.0   0.933036
                      11th         2.0  1761.0  1056600.0   0.949029
                      12th         2.0  1761.0  1056600.0   0.940701
                      9th          2.0  1761.0  1056600.0   0.933962
Thomas High School    10th        14.0  1635.0  1043130.0   0.940618
                      11th        14.0  1635.0  1043130.0   0.925301
                      12th        14.0  1635.0  1043130.0   0.928994
                      9th         14.0  1635.0  1043130.0   0.934924
Wilson High School    10th         5.0  2283.0  1319574.0   0.942244
                      11th         5.0  2283.0  1319574.0   0.936561
                      12th         5.0  2283.0  1319574.0   0.944072
                      9th          5.0  2283.0  1319574.0   0.933439
Wright High School    10th        10.0  1800.0  1049400.0   0.932099
                      11th        10.0  1800.0  1049400.0   0.926437
                      12th        10.0  1800.0  1049400.0   0.932249
                      9th         10.0  1800.0  1049400.0   0.941176

                             pass_reading
school_name           grade
Bailey High School    10th       0.835351
                      11th       0.805755
                      12th       0.813230
                      9th        0.821674
Cabrera High School   10th       0.974249
                      11th       0.970954
                      12th       0.968586
                      9th        0.967803
Figueroa High School  10th       0.812582
                      11th       0.781382
                      12th       0.819646
                      9th        0.815421
Ford High School      10th       0.790960
                      11th       0.799697
                      12th       0.782931
                      9th        0.795918
Griffin High School   10th       0.972906
                      11th       0.975069
                      12th       0.979452
                      9th        0.960880
Hernandez High School 10th       0.806846
                      11th       0.817096
                      12th       0.797441
                      9th        0.811143
Holden High School    10th       0.964912
                      11th       0.961165
                      12th       0.987952
                      9th        0.944882
Huang High School     10th       0.821382
                      11th       0.805825
                      12th       0.811966
                      9th        0.812796
Johnson High School   10th       0.814996
                      11th       0.796327
                      12th       0.819444
                      9th        0.818571
Pena High School      10th       0.956000
                      11th       0.949219
                      12th       0.944751
                      9th        0.981818
Rodriguez High School 10th       0.802885
                      11th       0.808151
                      12th       0.792142
                      9th        0.803265
Shelton High School   10th       0.937500
                      11th       0.973301
                      12th       0.954178
                      9th        0.967925
Thomas High School    10th       0.976247
                      11th       0.971084
                      12th       0.961538
                      9th        0.980477
Wilson High School    10th       0.962046
                      11th       0.966611
                      12th       0.964206
                      9th        0.968304
Wright High School    10th       0.969136
                      11th       0.972414
                      12th       0.964770
                      9th        0.958824