In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [2]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [3]:
#average reading score
avg_reading_score = school_data_complete["reading_score"].mean()

#Average math score
avg_math_score = school_data_complete["math_score"].mean()

#total number of students
total_students = school_data_complete["Student ID"].count()

#total schools
#schools_students = school_data_complete["school_name"].value_counts()
#total_schools = schools_students.count()

#school count
total_schools = len(school_data_complete["school_name"].unique())

#total budget
budget = school_data_complete["budget"].unique()
total_budget = budget.sum()

#overall pass rate
pass_rate = (avg_math_score + avg_reading_score)/2

#% pass math and reading
school_data_complete["pass_math"] = school_data_complete["math_score"] >= 70
school_data_complete["pass_reading"] = school_data_complete["reading_score"] >= 70

pass_math_count = school_data_complete["pass_math"].value_counts()
per_pass_math = (pass_math_count[True]/len(school_data_complete))*100


pass_reading_count = school_data_complete["pass_reading"].value_counts()
per_pass_reading = (pass_reading_count[True]/len(school_data_complete))*100

In [4]:
#create new district summary data frame and reformat
district_summary = pd.DataFrame({"Total Schools": [total_schools],
                           "Total Students": [total_students],
                           "Total Budget": [total_budget],
                           "Average Math Score": [avg_math_score],
                           "Average Reading Score": [avg_reading_score],
                           "% Passing Math": [per_pass_math],
                                "% Passing Reading": [per_pass_reading],
                                "% Overall Passing Rate": [pass_rate]},)

district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
district_summary["Average Math Score"] = district_summary["Average Math Score"].map("{:.2f}%".format)
district_summary["Average Reading Score"] = district_summary["Average Reading Score"].map("{:.2f}%".format)
district_summary["% Passing Math"] = district_summary["% Passing Math"].map("{:.2f}%".format)
district_summary["% Passing Reading"] = district_summary["% Passing Reading"].map("{:.2f}%".format)
district_summary["% Overall Passing Rate"] = district_summary["% Overall Passing Rate"].map("{:.2f}%".format)
district_summary.head()

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,"39,170","$24,649,428.00",78.99%,81.88%,74.98%,85.81%,80.43%

In [17]:
school_summary = school_data_complete.groupby("school_name")

per_school_counts = school_data_complete["school_name"].value_counts()
per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
per_school_capita = (per_school_budget / per_school_counts)

avg_math_score = school_summary["math_score"].mean()
avg_reading_score = school_summary["reading_score"].mean()
school_type = school_summary["type"].unique()
total_students = school_summary["size"].unique()
school_budget = school_summary["budget"].unique()
student_budget = school_budget/total_students

math_pass_students = school_data_complete[(school_data_complete["math_score"] >= 70)]
math_pass_percent = (math_pass_students["school_name"].value_counts()/ per_school_counts)*100

reading_pass_students = school_data_complete[(school_data_complete["reading_score"] >= 70)]
reading_pass_percent = (reading_pass_students["school_name"].value_counts()/ per_school_counts)*100

overall_pass_rate = (math_pass_percent + reading_pass_percent)/2

In [18]:
#math_pass_students = school_data_complete[(school_data_complete["math_score"] >= 70)]
#math_pass_students["school_name"].value_counts()/ per_school_counts

In [19]:
school_summary_dataframe = pd.DataFrame({"School Type": school_type,
                                "Total Students": total_students,
                                 "School Budget": school_budget,
                                 "Per Student Budget": student_budget,
                                 "Average Math Score": avg_math_score,
                                 "Average Reading Score": avg_reading_score,
                                 "% Passing Math": math_pass_percent,
                                 "% Passing Reading": reading_pass_percent,
                                 "% Overall Passing Rate": overall_pass_rate})

school_summary_dataframe["School Type"] = school_summary_dataframe["School Type"].map(lambda x: str(x)[2:-2])
school_summary_dataframe["Total Students"] = school_summary_dataframe["Total Students"].map(lambda x: str(x)[1:-1])
school_summary_dataframe["School Budget"] = school_summary_dataframe["School Budget"].map(lambda x: str(x)[1:-1])
#school_summary_dataframe["School Budget"] = school_summary_dataframe["School Budget"].map("${:,.2f}".format(float(u"5.0")))
school_summary_dataframe["Per Student Budget"] = school_summary_dataframe["Per Student Budget"].map(lambda x: str(x)[1:-2])
school_summary_dataframe["% Passing Math"] = school_summary_dataframe["% Passing Math"].map("{:.2f}%".format)
school_summary_dataframe["% Passing Reading"] = school_summary_dataframe["% Passing Reading"].map("{:.2f}%".format)
school_summary_dataframe["% Overall Passing Rate"] = school_summary_dataframe["% Overall Passing Rate"].map("{:.2f}%".format)
school_summary_dataframe

,School Type,Total Students,School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
school_name,,,,,,,,,
Bailey High School,District,4976,3124928,628,77.048432,81.033963,66.68%,81.93%,74.31%
Cabrera High School,Charter,1858,1081356,582,83.061895,83.975780,94.13%,97.04%,95.59%
Figueroa High School,District,2949,1884411,639,76.711767,81.158020,65.99%,80.74%,73.36%
Ford High School,District,2739,1763916,644,77.102592,80.746258,68.31%,79.30%,73.80%
Griffin High School,Charter,1468,917500,625,83.351499,83.816757,93.39%,97.14%,95.27%
Hernandez High School,District,4635,3022020,652,77.289752,80.934412,66.75%,80.86%,73.81%
Holden High School,Charter,427,248087,581,83.803279,83.814988,92.51%,96.25%,94.38%
Huang High School,District,2917,1910635,655,76.629414,81.182722,65.68%,81.32%,73.50%
Johnson High School,District,4761,3094650,650,77.072464,80.966394,66.06%,81.22%,73.64%
Pena High School,Charter,962,585858,609,83.839917,84.044699,94.59%,95.95%,95.27%
Rodriguez High School,District,3999,2547363,637,76.842711,80.744686,66.37%,80.22%,73.29%
Shelton High School,Charter,1761,1056600,600,83.359455,83.725724,93.87%,95.85%,94.86%
Thomas High School,Charter,1635,1043130,638,83.418349,83.848930,93.27%,97.31%,95.29%
Wilson High School,Charter,2283,1319574,578,83.274201,83.989488,93.87%,96.54%,95.20%
Wright High School,Charter,1800,1049400,583,83.682222,83.955000,93.33%,96.61%,94.97%

In [22]:
school_summary_dataframe = school_summary_dataframe.sort_values(by=["% Overall Passing Rate"], ascending=False)
school_summary_dataframe.head()

,School Type,Total Students,School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
school_name,,,,,,,,,
Cabrera High School,Charter,1858,1081356,582,83.061895,83.975780,94.13%,97.04%,95.59%
Thomas High School,Charter,1635,1043130,638,83.418349,83.848930,93.27%,97.31%,95.29%
Griffin High School,Charter,1468,917500,625,83.351499,83.816757,93.39%,97.14%,95.27%
Pena High School,Charter,962,585858,609,83.839917,84.044699,94.59%,95.95%,95.27%
Wilson High School,Charter,2283,1319574,578,83.274201,83.989488,93.87%,96.54%,95.20%

In [23]:
school_summary_dataframe = school_summary_dataframe.sort_values(by=["% Overall Passing Rate"], ascending=True)
school_summary_dataframe.head()

,School Type,Total Students,School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
school_name,,,,,,,,,
Rodriguez High School,District,3999,2547363,637,76.842711,80.744686,66.37%,80.22%,73.29%
Figueroa High School,District,2949,1884411,639,76.711767,81.158020,65.99%,80.74%,73.36%
Huang High School,District,2917,1910635,655,76.629414,81.182722,65.68%,81.32%,73.50%
Johnson High School,District,4761,3094650,650,77.072464,80.966394,66.06%,81.22%,73.64%
Ford High School,District,2739,1763916,644,77.102592,80.746258,68.31%,79.30%,73.80%

In [31]:
math_scores_sort = school_data_complete.groupby(["school_name", "grade"])
math_scores_sort = pd.DataFrame(math_scores_sort["math_score"].mean())
math_scores_sort

                             math_score
school_name           grade
Bailey High School    10th    76.996772
                      11th    77.515588
                      12th    76.492218
                      9th     77.083676
Cabrera High School   10th    83.154506
                      11th    82.765560
                      12th    83.277487
                      9th     83.094697
Figueroa High School  10th    76.539974
                      11th    76.884344
                      12th    77.151369
                      9th     76.403037
Ford High School      10th    77.672316
                      11th    76.918058
                      12th    76.179963
                      9th     77.361345
Griffin High School   10th    84.229064
                      11th    83.842105
                      12th    83.356164
                      9th     82.044010
Hernandez High School 10th    77.337408
                      11th    77.136029
                      12th    77.186567
                      9th     77.438495
Holden High School    10th    83.429825
                      11th    85.000000
                      12th    82.855422
                      9th     83.787402
Huang High School     10th    75.908735
                      11th    76.446602
                      12th    77.225641
                      9th     77.027251
Johnson High School   10th    76.691117
                      11th    77.491653
                      12th    76.863248
                      9th     77.187857
Pena High School      10th    83.372000
                      11th    84.328125
                      12th    84.121547
                      9th     83.625455
Rodriguez High School 10th    76.612500
                      11th    76.395626
                      12th    77.690748
                      9th     76.859966
Shelton High School   10th    82.917411
                      11th    83.383495
                      12th    83.778976
                      9th     83.420755
Thomas High School    10th    83.087886
                      11th    83.498795
                      12th    83.497041
                      9th     83.590022
Wilson High School    10th    83.724422
                      11th    83.195326
                      12th    83.035794
                      9th     83.085578
Wright High School    10th    84.010288
                      11th    83.836782
                      12th    83.644986
                      9th     83.264706